<p id="notice"><%= notice %></p>

<p>
  <b>User Name: <%= @user.name %></b>
  <p><%= link_to 'Edit User', edit_user_path(@user) %>
  <%= link_to 'Add a new Client', new_user_client_path(@user) %>
  <%= link_to 'Add a new Holiday', new_user_holiday_path(@user) %>
  <%= link_to 'Holidays Notification', delivering_user_path(@user), :confirm => 'Are you sure?', :method => :post %>
  </p>

</p>
<div>
<p>Clients</p>
<%= render @user.clients %>
</div>

<div>
<p>Holidays</p>
<%= render @user.holidays %>
</div>



 
