<div class="block" id="block-login">
   <h2>Sign in</h2>
   <div class="content login">
      <div class="flash">
        <% flash.each do |type, message| %>
          <div class="message <%= type %>">
            <p><%= message %></p>
          </div>
        <% end %>
      </div>

     <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form login" }) do |f| %>
  
       <div class="group wat-cf">
         <div class="left">
            <label class="label right"><%= f.label :email %></label>
         </div>
         <div class="right">
            <%= f.text_field :email %>
         </div>
       </div>  

       <div class="group wat-cf">
         <div class="left">
            <label class="label right"><%= f.label :password %></label>
         </div> 
         <div class="right">
            <%= f.password_field :password %>
         </div>
       </div>    
  
           <div class="group wat-cf">
             <div class="right">
                <button class="button" type="submit">
                  <img src="images/icons/key.png" alt="Save" /> Login
                </button>  
              </div>
           </div>   
     <% end %>
   </div>
</div>
<%= render :partial => "devise/shared/links" %>

<%= link_to "Back", home_index_path%>
      

